{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <div {{ stimulus_controller('hello') }}>
        <input type="text" {{ stimulus_target('hello', 'name') }}>

        <button {{ stimulus_action('hello', 'greet') }}>
            Greet
        </button>

        <div {{ stimulus_target('hello', 'output') }}></div>
    </div>

    <form action="{{ path('app_product2_index_sorting')}}">
    <label for="productSortingSelect">Type de tri</lable>
        <select name="productSortingSelect" id="productSortingSelect">
            <option value="ascPrice">Prix croissants</option>
            <option value="descPrice">Prix décroissants</option>
            <option value="ascName">Ordre Alphabétique</option>
            <option value="descName">Ordre Alphabétique inversé</option>
        </select>
       <button type="submit">APPLIQUER</button>
    </form>

    <form>
      <input type="range" id="volume" name="volume"
         min="{{minPrice.0.price}}" max="{{maxPrice.0.price}}">
      <label for="volume">Fourchette de prix (de {{minPrice.0.price / 100}} à {{maxPrice.0.price / 100}})</label>
      <a href="{{ path('app_product2_index_sorting')}}"><button type="submit">APPLIQUER</button></a>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>

                <td>{{(product.price/100)| format_currency('EUR',locale="fr") }}</td>

                <td>{{ product.description }}</td>
                <td><img src="/uploads/{{ product.picture }}" height="100" width="100"></img></td>
                <td>
                <form action="{{path('app_cartadd',{id:product.id})}}">
                {% if app.session.get("cart")[product.id] is not defined %}
                    <input type="number" name="productQuantity" value="1"/>
                    <button type="submit">AJOUTER</button>
                {% else %}
                    <input type="number" name="productQuantity" value="{{app.session.get('cart')[product.id]}}"/>
                    <button type="submit">MODIFIER</button> 
                {% endif %}
                </form>
                <a href="{{ path('app_product2_show', {'id': product.id}) }}">show</a>
                <a href="{{ path('app_product2_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product2_new') }}">Create new</a>
{% endblock %}
